<!DOCTYPE html>
<htmll>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="./css/styles.css">

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>404 error {{error}}</h1>
        </div>
        
        {{>footer}}
    </body>
</htmll>